/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file 
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the config folder and imported under a profile
 * name here.
 */

manifest {
    homePage = 'https://github.com/NationalGenomicsInfrastructure/aliceflow'
    description = 'GATK-BP and Genalice WGS workflow from SciLifeLab'
}

params {
  help = ''
  version = ''
  verbose = ''
  project = ''
  steps = 'preprocessing'
}

profiles {
  standard {
    includeConfig 'configuration/standard.config'
    includeConfig 'configuration/milou.config'
  }
  interactive {
    includeConfig 'configuration/standard.config'
    includeConfig 'configuration/interactive-milou.config'
  }
}
